<div class="subheader">
    <div class="container">
        <div class="create-new-timeline">
            <h3>Create a new Timeline</h3>
            <div class="timeline-data">
                <form>
                    {{!-- Start row 1--}}
                    <div class="row">
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Timeline Name</span>
                                </div>
                                <input type="text" class="form-control" id="timeline-name">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
                                </div>
                                <input type="text" class="form-control" id="timeline-description">
                            </div>
                        </div>
                    </div>
                    {{!-- end row 1--}}

                    <div class="row">
                        <div class="col-8">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Image url</span>
                                </div>
                                <input type="text" class="form-control" id="timeline-image-url">
                            </div>
                        </div>
                        <div class="col-4">

                            <div class="input-group mb-3">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Select Category</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01" id="timeline-category">
                                        <option selected>Choose...</option>
                                        <option value="1">Fiction</option>
                                        <option value="2">Non-fiction</option>
                                        <option value="3">Scientific</option>
                                        <option value="4">Historical</option>
                                        <option value="5">Other</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-light mb-2" id="create-timeline-btn">Create Timeline</button>
                </form>
            </div>
        </div>
        {{!-- end new timeline --}}


    </div>
</div> {{!-- end subheader div --}}

<div class="container">
    <div class="row ">
        <div class="col ">
            <ul class="timeline-list">


                {{#each timelines}}
                <li class="row d-flex" data_id="{{id}}">
                    <div class="col-7 mr-auto">
                        <h5 class="list-title">{{timelineName}}</h5>
                        <p class="list-text">{{description}}</p>

                    </div>
                    <div class="col-2">
                        <a class="btn btn-primary add-event-btn" href="edit/{{id}}">Add Events</a>
                    </div>
                    <div class="col-2">
                        <a class="btn btn-primary add-event-btn" href="timelines/{{id}}">View Timeline</a>

                    </div>
                    <div class="col-1">
                        <button class="btn btn-danger delete-timeline-btn"> <i class="fas fa-trash-alt"></i></button>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>

    </div>


</div>


<script>

    var $deleteTimelineBtn = $("#delete-timeline-btn");
    function deleteTimeline() {
        console.log("I was clicked")
    }

    $deleteTimelineBtn.on("click", deleteTimeline);

    var $createButton = $("#create-timeline-btn");

    $createButton.on("click", function (event) {
        event.preventDefault();

        var catId = $("#timeline-category option:selected").val()
        
        var newTimeline = {
            timelineName: $("#timeline-name")
                .val()
                .trim(),
            description: $("#timeline-description")
                .val()
                .trim(),
            imageUrl: $("#timeline-image-url")
                .val()
                .trim(),
            CategoryId: $("#timeline-category option:selected").val()
        };

        //console.log(newTimeline);
        // Send the POST request.
        $.ajax({
            method: "POST",
            url: "/api/timelines",
            data: newTimeline
        }).then(function (data) {
            console.log(data.id)
            var timeline_id = data.id;
            window.location.href = "/edit/" + timeline_id;
        });
    });

</script>