<div class="subheader splash">

</div> {{!-- end subheader div --}}



<div class="container form-card-container">
    <div class="card">

        {{!-- <img class="card-img-top" src="{{timelines.imageUrl}}" alt="Card image cap"> --}}

        <div class=" card-header">
            <div id="timeline-edit-header" data-id="{{timelines.id}}">
                {{id}} {{timelines.timelineName}}
            </div>
            <p>{{timelines.description}}</p>

            <div class=" d-flex justify-content-between">
                {{!-- <div>
                    <h4 class="mini-header">Events in the Timeline</h4>
                </div>
             --}}
            
                <div class="event-buttons">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-event-modal">
                        + Add Event
                    </button>
                    <a class="btn btn-success" href="/timelines/{{timelines.id}}">
                        <i class="fas fa-check"></i>  Done
                    </a>
                </div>
            </div>
        
        </div>

        

        <ul class="event-list list-group">
        
        
            {{#each timelines.Events}}
        
            <li class="list-group-item d-flex justify-content-between align-items-center" data_id="{{id}}">
                <div class="event-info">
                    <h4 class="event-name-div">{{event}}</h4>
                    <p class="event-type-div">{{event_type}}</p>
                </div>
                
                <div class="dates">
                    <p class="start-date-info">{{start_date}}</p>
                </div>
        
        
                <span class="buttons-for-events">
                    <button class="btn btn-danger delete-event-btn" data-id="{{id}}"> <i class="fas fa-trash-alt"></i></button>
                </span>
        
            </li>
        
            {{/each}}
        </ul>
    </div>

    
</div>

{{!-- MODAL SECTION --}}
<div class="modal fade" id="new-event-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" role="form" class="new-event">

                    <div class="md-form">
                        <input type="text" id="event" class="form-control">
                        <label for="event">Event Name (required)</label>
                    </div>

                    <div class="md-form">
                        <input type="text" id="event-type" class="form-control">
                        <label for="event-type">Event Type</label>
                    </div>

                    <div class="md-form input-group mb-3">

                        <input type="date" class="form-control custom-select" aria-describedby="start-date" id="start-date">

                        <div class="input-group-append">
                            <span class="input-group-text md-addon">Start Date (required)</span>
                        </div>
                    </div>

                    <div class="md-form input-group mb-3">

                        <input type="date" class="form-control custom-select" aria-describedby="end-date" id="end-date">

                        <div class="input-group-append">
                            <span class="input-group-text md-addon">End Date (Optional)</span>
                        </div>
                    </div>

                    <div class="md-form">
                        <input type="text" id="Location" class="form-control">
                        <label for="Location">Location (Optional)</label>
                    </div>

                    <div class="md-form">
                        <input type="text" id="source" class="form-control">
                        <label for="source">Info Source Link (Optional)</label>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="event-create-button">Add Event</button>
            </div>
        </div>
    </div>
</div> {{!-- end modal --}}

<script>

    var $createEventButton = $("#event-create-button");

    $createEventButton.on("click", function (event) {
        console.log("button clicked")

        var newEvent = {
            event: $("#event")
                .val()
                .trim(),
            event_type: $("#event-type")
                .val()
                .trim(),
            start_date: $("#start-date")
                .val(),

            end_date: $("end-Date")
                .val(),

            location: $("#Location")
                .val(),
            color: $("#color")
                .val(),
            source: $("#source")
                .val(),
            TimelineId: $("#timeline-edit-header").data("id")
        };

        console.log(newEvent);
        // Send the POST request.
        $.ajax({
            method: "POST",
            url: "/api/events/:timeline_id",
            data: newEvent
        }).then(function () {
            location.reload();
        });
    });


    var $deleteEventButton = $(".delete-event-btn");
    console.log('$deleteEventButton', $deleteEventButton.length)
    
    $deleteEventButton.on("click", function (event) {
        var $target = $(event.target)
        console.log($target)
        var event_id = $target.data('id')
        console.log('event_id', event_id)
        $.ajax({
            method: "DELETE",
            url: "/api/events/" + event_id,

        }).then(function (data) {
            console.log('data', data)
            location.reload();
        });
    });

</script>