<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h3 class="display-4" id="timeline-edit-header" data-id="{{timelines.id}}">
                {{id}} {{timelines.timelineName}}
            </h3>
            <hr>
            <p>{{timelines.description}}</p>
        </div>
    </div>

</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h4>Events</h4>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-event-modal">
                        Add Event
                    </button>
                    <a type="button" class="btn btn-success" href="/timelines/{{timelines.id}}">
                        Done
                    </a>
                </div>
            </div>
        </div>

        <ul class="event-list list-group">


            {{#each timelines.Events}}
            
            <li class="list-group-item d-flex justify-content-between align-items-center" data_id="{{id}}">
                
                    <h4 class="event-name-div">{{event}}</h4>
                    <p class="event-type-div">{{event_type}}</p>

                
                <span class="buttons-for-events">
                    
                        <button class="btn btn-primary edit-event-btn"> <i class="fas fa-edit"></i></i></button>
                    
                    
                        <button class="btn btn-danger delete-event-btn"> <i class="fas fa-trash-alt"></i></button>
                    
                </span>

            </li>
            
            {{/each}}
        </ul>
    </div>
</div>

{{!-- MODAL SECTION --}}
<div class="modal fade" id="new-event-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create New Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" role="form" class="new-event">

                    <div class="form-group">
                        <input type="text" class="form-control form-inputs" Placeholder="Event Name *" id="event">
                        <span class="error-text" data-error="wrong" data-name="event"></span>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control form-inputs" Placeholder="Event Type" id="event-type">
                    </div>

                    <div class="form-group">
                        <input type="date" class="form-control form-inputs" Placeholder="Start Date *" id="start-date">
                        <span class="error-text" data-error="wrong" data-name="event"></span>
                    </div>

                    <div class="form-group">
                        <input type="date" class="form-control form-inputs" Placeholder="End Date" id="end-date">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control form-inputs" Placeholder="Location" id="Location">
                    </div>

                    <div class="form-group">
                        <label for="Source">Info Source</label>
                        <input type="text" class="form-control form-inputs" Placeholder="link url" id="source">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="event-create-button">Add Event</button>
            </div>
        </div>
    </div>
</div> {{!-- end modal --}}

<script>

    var $createEventButton = $("#event-create-button");

    $createEventButton.on("click", function (event) {
        console.log("button clicked")

        var newEvent = {
            event: $("#event")
                .val()
                .trim(),
            event_type: $("#event-type")
                .val()
                .trim(),
            start_date: $("#start-date")
                .val(),

            end_date: $("end-Date")
                .val(),

            location: $("#Location")
                .val(),
            color: $("#color")
                .val(),
            source: $("#source")
                .val(),
            TimelineId: $("#timeline-edit-header").data("id")
        };

        console.log(newEvent);
        // Send the POST request.
        $.ajax({
            method: "POST",
            url: "/api/events/:timeline_id",
            data: newEvent
        }).then(function () {
            location.reload();
        }).fail(function(data) {
            console.log('fail', data.responseJSON)
            data.responseJSON.errors.forEach(function(error) {
                var field = error.path
                console.log(field)
                var errorElement = $(`[data-name=${field}]`)
                console.log(errorElement.length)
                console.log(error.message)
                errorElement.text(error.message)
            })
            
        })
    });</script>