<div id="home">

  <div class="jumbotron jumbotron-fluid subheader py-12 splash">
    <div class="container text-center">
      <h1 class="display-4 subheading">Online Timeline Maker</h1>
      <hr>
       
      <a href="/create"><button class="btn main-btn" type="button" id="create-timeline"><i class="fas fa-plus"></i>
          Create A New Timeline</button>
        </div></a>
    </div>
  </div>
  

  <div class="container">
    <div class="row">
      <h2 class="col display-5 ">Timelines</h2>

      {{!-- <div class="col align-self-end">
        <div class="form-group drop-down">
          <select class="form-control" id="drop-down-select">
            {{#each category}}
              <option data_id="{{this.id}}">this.category</option>
            {{/each}}
          </select>
        </div>
      </div> --}}
    </div>
    {{!-- Select timeline by category dropdown --}}
    
    {{!-- view cards section --}}
    <div class="row mt-6">
      <div class="card-columns offset">
        {{#each timelines}}
        <div class="card">
          <img class="card-img-top" src="{{imageUrl}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
              <p> {{timelineName}}
            </h5>
            <p class="card-text">{{description}}</p>
            <a href="/timelines/{{id}}" class="btn btn-success">View</a>
            {{!-- <p class="card-text"><small class="text-muted">Created - {{createdAt}}</small></p> --}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div> {{!-- End container --}}
</div> {{!-- End home --}}



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>