<div class="subheader splash">

</div> {{!-- end subheader div --}}
<div class="container form-card-container">
    <div class="card">
        <div class=" card-header">
            <div id="timeline-edit-header" data-id="{{timelines.id}}">
                {{id}} {{timelines.timelineName}}
            </div>
            <p>{{timelines.description}}</p>

        </div>

        <div class=" d-flex justify-content-between">
            <div class="event-buttons">
                
                    <a class="btn btn-primary edit-timeline-btn" href="/edit/{{timelines.id}}"> <i
                            class="fas fa-edit"></i> Edit Timeline</a>
                
                    <button class="btn btn-danger delete-timeline-btn" data-id="{{timelines.id}}"><i
                            class="fas fa-trash-alt"></i> Delete</button>
            </div>
        </div>
    </div>

    <div class="container vis-container">
        <div id="visualization" data-id="{{timelines.id}}"></div>
    </div>
</div>





<script>
    /** TIMELINE */
    var timeline_id = $("#visualization").data("id")

    var container = document.getElementById('visualization');

    // Make ajax get request to endpoint
    $.get('/api/timelines/' + timeline_id, function (response) {
        console.log(response)
        
            var events = response.Events;
            var eventData = [];

            for (i = 0; i < events.length; i++) {
                var formatedEnd;
                var formatedStart = moment(events[i].start_date).format("YYYY-MM-DD");
                var newObj = {
                    id: i + 1,
                    content: events[i].event,
                    start: formatedStart,
                    className: events[i].color
                }

                 if (events[i].end_date.length) {
                     formatedEnd = moment(events[i].end_date).format("YYYY-MM-DD");
                     newObj.end = formatedEnd;
                 }

                eventData.push(newObj);
            }
        
        console.log(eventData);

        var items = new vis.DataSet(eventData)

        console.log(items);

        var options = {};

        if (container && eventData && eventData.length) {
            var timeline = new vis.Timeline(container, items, options);
        }
    });

    // Delete timeline by id

    var $deleteTimelineButton = $(".delete-timeline-btn");
        
        $deleteTimelineButton.on("click", function (event) {
            console.log("event-deleted")
            $.ajax({
                method: "DELETE",
                url: "/api/timelines/" + timeline_id,
            }).then(function (data) {
                console.log('data', data)
                window.location.href = "/";
            });
        });

</script>